@page "/deleteemployee/{id:int}"
@using Projekt151.Model
@inject NavigationManager NavigationManager
@inject Services.IMitarbeiterService EmployeeService
@inject Services.IProjektService ProjectService

<h2>Confirm Delete</h2>
<p>Are you sure you want to delete this Employee with Id :<b> @id</b></p>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@employee.MitarbeiterName</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@employee.NameStadt</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="button" value="Delete" @onclick="@Delete" class="btn btn-danger" />
        <input type="button" value="Cancel" @onclick="@Cancel" class="btn" />
    </div>
</div>

@code {

    [Parameter]
    public int id { get; set; }
    MitarbeiterModel employee = new MitarbeiterModel();

    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeService.SingleEmployee(id);
    }

    protected async Task Delete()
    {
        await EmployeeService.DeleteEmployee(id);
        NavigationManager.NavigateTo("listemployees");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listemployees");
    }
}     